<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Zmień hasło</title>
</head>
<body>
<nav th:insert="/navbar.html::navbar"></nav>
<div class="jumbotron jumbotron-fluid bg-info text-center text-white">
    <h4>Zmień hasło</h4>
</div>

<div clas="container">
    <form action="/admin-panel/farmer-account/update-password" method="post" th:object="${updatePasswordForm}"
          class="col-md-6 mx-auto">
        <h3 th:if="${changePasswordInfo != null}" th:text="${changePasswordInfo}"
            class="col-12 text-center text-success"></h3>
        <h3 th:if="${incorrectOldPassword != null}" th:text="${incorrectOldPassword}"
            class="col-12 text-center text-success"></h3>

        <div class="form-group">
            <label for="oldPassword">Podaj stare hasło</label>
            <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}">
            <span class="form-text text-danger" th:errors="*{oldPassword}"></span>
        </div>

        <div>
            <label for="newPassword">Podaj nowe hasło</label>
            <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}">
            <span class="form-text text-danger" th:errors="*{newPassword}"></span>
        </div>

        <button type="submit" class="btn btn-info my-3">Zmień hasło</button>
    </form>
</div>
</body>
</html>