<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Dane użytkownika</title>
</head>
<body>
<nav th:insert="/navbar.html::navbar"></nav>
<div class="jumbotron jumbotron-fluid bg-info text-center text-white">
    <h4>Dane użytkownika</h4>
</div>
<div class="container">
    <div class="row">
        <th:block th:if="${avatarInfo} != null" th:switch="${avatarInfo}">
            <h4 th:case="${avatarInfo.INCORRECT_FORMAT}" th:text="#{Avatar.incorrect.format}"
                class="col-12 text-danger text-center"></h4>
            <h4 th:case="${avatarInfo.INCORRECT_SIZE}" th:text="#{Avatar.incorrect.size}"
                class="col-12 text-danger text-center"></h4>
            <h4 th:case="${avatarInfo.CREATE_FILE_EXCEPTION}" th:text="#{Avatar.create.file.exception}"
                class="col-12 text-danger text-center"></h4>
            <h4 th:case="${avatarInfo.CORRECT_AVATAR}" th:text="#{Avatar.correct.avatar}"
                class="col-12 text-success text-center"></h4>
        </th:block>
    </div>

    <img th:src="@{'/avatar/' + ${farmerId}}" class="col-6"
         style="height: 200px; width: 250px;">

    <form method="POST" enctype="multipart/form-data" th:action="@{'/admin-panel/farmer-account/avatar/' + ${farmerId}}"
          class="col-4">

        <div class="form-group">
            <label for="file">Wgraj swoje zdjęcie</label>
            <input id="file" type="file" name="avatar" class="form-control">
        </div>

        <button type="submit" class="btn btn-info">Wgraj</button>
    </form>


    <div th:object="${farmerData}">
        <div class="col-12 my-3">
            <span style="font-weight: bold;">Imię:</span>
            <span th:text="${farmerData.getName()}"></span>
            <button class="btn btn-info"><a href="/admin-panel/farmer-account/update-name"
                                            style="text-decoration: none; color:white">Zmień</a></button>
        </div>

        <div class="col-12 my-3">
            <span style="font-weight: bold;">Nazwisko:</span>
            <span th:text="${farmerData.getSurname()}"></span>
            <button class="btn btn-info"><a href="/admin-panel/farmer-account/update-surname"
                                            style="text-decoration: none; color:white">Zmień</a></button>
        </div>

        <div class="col-12 my-3">
            <span style="font-weight: bold;">Nick:</span>
            <span th:text="${farmerData.getUsername()}"></span>
        </div>
    </div>
</div>
</body>
</html>