<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Dane użytkownika</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav mr-auto text-white">
                <a href="/admin-panel" class="nav-link nav-item">Start</a>
                <a href="/admin-panel/add-animal" class="nav-link nav-item">Dodaj zwierzę</a>
                <a href="/admin-panel/remove-animal" class="nav-link nav-item">Usuń zwierzę</a>
                <a href="/admin-panel/add-barn" class="nav-link nav-item">Dodaj stodołę</a>
                <a href="/admin-panel/remove-barn" class="nav-link nav-item">Usuń stodołę</a>
                <a href="/admin-panel/five-oldest-animals" class="nav-link nav-item">5 najstarszych zwierząt</a>
                <a href="/admin-panel/five-youngest-animals" class="nav-link nav-item">5 najmłodszych zwierząt</a>
                <a href="/admin-panel/most-numbered-barn" class="nav-link nav-item">Stodoła z największą ilością
                    zwierząt</a>
                <a href="/admin-panel/most-numbered-animal" class="nav-link nav-item">Najliczniejsze zwierzę</a>
                <a href="/admin-panel/all-vaccinated-animals" class="nav-link nav-item">Zaszczepione
                    zwierzęta </a>
                <a href="/admin-panel/farmer-account" class="nav-link nav-item">Ustawienia konta</a>
            </div>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid bg-info text-center text-white">
    <h4>Dane użytkownika</h4>
</div>
<div class="container">
    <div class="row">
        <th:block th:if="${avatarInfo} != null" th:switch="${avatarInfo}">
        <span th:case="${avatarInfo.INCORRECT_FORMAT}" th:text="#{Avatar.incorrect.format}"
              class="col-12 text-danger text-center"></span>
            <span th:case="${avatarInfo.INCORRECT_SIZE}" th:text="#{Avatar.incorrect.size}"
                  class="col-12 text-danger text-center"></span>
            <span th:case="${avatarInfo.CREATE_FILE_EXCEPTION}" th:text="#{Avatar.create.file.exception}"
                  class="col-12 text-danger text-center"></span>
            <span th:case="${avatarInfo.CORRECT_AVATAR}" th:text="#{Avatar.correct.avatar}"
                  class="col-12 text-success text-center"></span>
        </th:block>
    </div>

    <img th:src="@{'/avatar/' + ${farmerId}}" class="col-6"
         style="height: 150px; width: 150px;">

    <form method="POST" enctype="multipart/form-data" th:action="@{'/admin-panel/farmer-account/avatar/' + ${farmerId}}"
          class="col-4">

        <div class="form-group">
            <label for="file">Wgraj swoje zdjęcie</label>
            <input id="file" type="file" name="avatar" class="form-control">
        </div>

        <button type="submit" class="btn btn-info">Wgraj</button>
    </form>


    <div th:object="${farmerData}">
        <div class="col-12 my-3">
            <span style="font-weight: bold;">Imię:</span>
            <span th:text="${farmerData.getName()}"></span>
            <button class="btn btn-info"><a href="/admin-panel/farmer-account/update-name"
                                            style="text-decoration: none; color:white">Zmień</a></button>
        </div>

        <div class="col-12 my-3">
            <span style="font-weight: bold;">Nazwisko:</span>
            <span th:text="${farmerData.getSurname()}"></span>
            <button class="btn btn-info"><a href="/admin-panel/farmer-account/update-surname"
                                            style="text-decoration: none; color:white">Zmień</a></button>
        </div>

        <div class="col-12 my-3">
            <span style="font-weight: bold;">Nick:</span>
            <span th:text="${farmerData.getUsername()}"></span>
        </div>
    </div>
</div>
</body>
</html>