<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>5 najstarszych zwierząt</title>
</head>
<body>
<nav th:insert="/navbar.html::navbar"></nav>

<div class="jumbotron jumbotron-fluid bg-info text-center text-white">
    <h4>5 najstarszych zwierząt</h4>
</div>
<div class="container">
    <h3 th:if="${emptyAnimalList} != null" th:text=${emptyAnimalList} class="col-12 text-danger text-center"></h3>
    <div class="row">
        <span th:each="animal : ${oldestAnimals}" th:text="${animal}" class="col-12 text-center" style="font-size:20px"></span>
    </div>
</div>
</body>
</html>