<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Start</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-info text-white text-center">
    <div class="container">
        <h3 class="display-4">Witaj w aplikacji Farmer!</h3>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h4 class="text-center">Masz już konto</h4>
            <a href="/login" class="btn btn-info my-2">Zaloguj się</a>
        </div>

        <div class="col-md-6 text-center">
                <h4 class="text-center">Nie masz jeszcze konta?</h4>
                <a href="/registration" class="btn btn-info my-2">Zarejestruj się</a>
        </div>
    </div>
</div>
</body>
</html>