<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <div class="container">
<a href="/admin-panel/add-animal">Dodaj zwierzę</a>
<a href="/admin-panel/remove-animal">Usuń zwierzę</a>
<a href="/admin-panel/add-barn">Dodaj stodołę</a>

<a>Usuń stodołę</a>
<a>5 najstarszych zwierząt</a>
<a>5 najmłodszych zwierząt</a>
<a>Stodoła z największą ilością zwierząt</a>
<a>Najliczniejsze zwierzę</a>
<a>Zaszczepione zwierzeta </a>
</nav>
</div>
</body>
</html>