<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Usuwanie zwierzęcia z farmy</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav mr-auto text-white">
                <a href="/admin-panel" class="nav-link nav-item">Start</a>
                <a href="/admin-panel/add-animal" class="nav-link nav-item">Dodaj zwierzę</a>
                <a href="/admin-panel/remove-animal" class="nav-link nav-item active">Usuń zwierzę</a>
                <a href="/admin-panel/add-barn" class="nav-link nav-item">Dodaj stodołę</a>
                <a href="/admin-panel/remove-barn" class="nav-link nav-item">Usuń stodołę</a>
                <a href="/admin-panel/five-oldest-animals" class="nav-link nav-item">5 najstarszych zwierząt</a>
                <a href="/admin-panel/five-youngest-animals" class="nav-link nav-item">5 najmłodszych zwierząt</a>
                <a href="/admin-panel/most-numbered-barn" class="nav-link nav-item">Stodoła z największą ilością
                    zwierząt</a>
                <a href="/admin-panel/most-numbered-animal" class="nav-link nav-item">Najliczniejsze zwierzę</a>
                <a href="/admin-panel/all-vaccinated-animals" class="nav-link nav-item">Zaszczepione zwierzęta </a>
                <a href="/admin-panel/farmer-account" class="nav-link nav-item">Ustawienia konta</a>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-white text-center bg-info">
    <div class="container">
        <h4>Usuń zwierzę z farmy</h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <h3 th:if="${emptyAnimalList} != null" th:text=${emptyAnimalList} class="col-12 text-danger text-center"></h3>
        <h4 th:if="${noAnimalTypeError != null}" th:text="${noAnimalTypeError}" class="col-12 text-center text-danger">
        </h4>

        <h4 th:if="${removedAnimalInfo != null }" th:text="${removedAnimalInfo}" class="col-12 text-center text-success">
        </h4>

        <form action="/admin-panel/remove-animal" method="post" th:object="${removeAnimalForm}" class="col-md-6 mx-auto">
            <div class="form-group">
                <label for="type">Podaj nazwę zwierzęcia do usunięcia</label>
                <input type="text" id="type" th:field="*{type}" class="form-control">
            </div>
            <span th:errors="*{type}" class="form-text text-danger"></span>

            <button type="submit" class="btn btn-info">Usuń zwierzę z farmy</button>
        </form>
    </div>
</div>

</body>
</html>