<!DOCTYPE html>
<html lang="en" xmlsn:th="http://www.thymeleaf.org"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xmlsn="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Usuwanie stodoły</title>
</head>
<body>
<nav th:insert="/navbar.html::navbar"></nav>
<div class="jumbotron jumbotron-fluid bg-info text-white text-center">
    <div class="container">
        <h4>Usuwanie stodoły</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 th:if="${barnDoesNotExist != null}" th:text="${barnDoesNotExist}"
            class="col-12 text-danger text-center"></h3>
        <h3 th:if="${barnListEmpty != null}" th:text="${barnListEmpty}" class="col-12 text-danger text-center"></h3>
        <h3 class="col-12 text-success text-center" th:if="#{removeBarnSuccess != null}"
            th:text="${removeBarnSuccess}"></h3>

        <form action="/admin-panel/remove-barn" method="post" th:object="${removeBarnForm}" class="col-md-6 mx-auto">
            <div class="form-group">
                <label for="barn">Podaj nazwę stodoły do usunięcia</label>
                <input type="text" id="barn" th:field="*{name}" class="form-control">
                <span class="form-text text-danger" th:errors="*{name}"></span>
            </div>
            <button type="submit" class="btn btn-info">Usuń stodołę</button>
        </form>

    </div>
</div>
</body>
</html>